*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  background-color: #2C3E50;
  border: none;
  border-radius: 0;
}

nav>.container{
  padding: 15px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a{
  color: white;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #1ABC9C;
}
.navbar-default .navbar-brand:hover{
  color: white;
}

/* .navbar-default .navbar-toggle .icon-bar{
  background-color: white;
} */

.navbar-brand{
  font-weight: bold;
}

/* .masthead{
  background-color: #1ABC9C;
  min-height: 800px;
} */

#main-top{
  background-color: #1ABC9C;
  padding-top: 80px;
}

#main-mid{
  padding: 5rem 0;
}

#main-bot{
  background-color: #1ABC9C;
  padding: 5rem 0;
}

.container-fluid img{
  height: 250px;
}

.jumbotron{
  background-color: rgba(0, 0, 0, 0);
  padding: 50px 150px;
}

.text-white{
  color: white;
}
.bg-white{
  color: white;
  background-color: white;
}

.fa-star{
  padding-top: 15px;
  font-size: 20px;
}
/*
.my-hr{
  border-top: 2px solid;
} */

.jumbotron>h1{
  font-weight: bold;
}

.mt-2{
  margin-top: 1.5rem;
}

.img-container img{
  border-radius: 50px;
  padding: 30px;
}

.img-container{
  margin-top: 10px;
}

#main-bot .container p{
  font-size: 1.5em;
  padding-top: 20px;
}

.download-btn{
  background: none;
  border-radius: 10px;
  border: 2px solid white;
  padding: 1%;
  margin-top: 20px;
  min-width: 100px;
}

.download-btn i{
  display: inline;
}


.divider{
  width: 75%;
  margin: 0 auto;
}
.divider-b{
  width: 70%;
  margin: 0 auto;
}
.divider i,.divider-b i{
  font-size: 32px;
}
.divider::before{
  content: '';
  float: left;
  display: block;
  height: 3px;
  margin-top: 28px;
  width: 40%;
  background-color: white;
}
.divider::after{
  content: '';
  float: right;
  display: block;
  height: 3px;
  margin-top: 28px;
  width: 40%;
  background-color: white;
}
.divider-b::before{
  content: '';
  float: left;
  display: block;
  height: 3px;
  margin-top: 28px;
  width: 40%;
  background-color: black;
}
.divider-b::after{
  content: '';
  float: right;
  display: block;
  height: 3px;
  margin-top: 28px;
  width: 40%;
  background-color: black;
}

@media all and (min-width:1200px) {
  .divider{
    width: 35%;
    margin: 0 auto;
  }
  .divider-b{
    width: 35%;
    margin: 0 auto;
  }
}

@media all and (max-width:767px) {
  .img-container img{
    border-radius: 50px;
    padding: 20px;
  }
}
