*{
  box-sizing: border-box;

}

.navbar{
  background-color: #2C3E50;
  border: none;
  border-radius: 0;
}

.container{
  padding: 15px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a{
  color: white;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #1ABC9C;
}
.navbar-default .navbar-brand:hover{
  color: white;
}

/* .navbar-default .navbar-toggle .icon-bar{
  background-color: white;
} */

.navbar-brand{
  font-weight: bold;
}

/* .masthead{
  background-color: #1ABC9C;
  min-height: 800px;
} */

.container-fluid{
  background-color: #1ABC9C;
  min-height: 800px;
  padding-top: 100px;
}

.container-fluid img{
  height: 300px;
}

.jumbotron{
  background-color: rgba(0, 0, 0, 0);
  padding: 50px 150px;
}

.text-white{
  color: white;
}

.fa-star{
  padding-top: 15px;
  font-size: 20px;
}

.my-hr{
  border-top: 2px solid;
}

.jumbotron>h1{
  font-weight: bold;
}
