*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  background-color: #2C3E50;
  border: none;
  border-radius: 0;
}

nav>.container{
  padding: 15px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a{
  color: white;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #1ABC9C;
}
.navbar-default .navbar-brand:hover{
  color: white;
}

/* .navbar-default .navbar-toggle .icon-bar{
  background-color: white;
} */

.navbar-brand{
  font-weight: bold;
}

.p-section{
  padding: 5rem 0;
}

#main-top{
  background-color: #1ABC9C;
  padding-top: 80px;
}

#main-bot{
  background-color: #1ABC9C;
}

.container-fluid img{
  height: 250px;
}

.jumbotron{
  background-color: rgba(0, 0, 0, 0);
  padding: 50px 150px;
}

.text-white{
  color: white;
}
.bg-white{
  color: white;
  background-color: white;
}

.fa-star{
  padding-top: 15px;
  font-size: 20px;
}

.jumbotron>h1{
  font-weight: bold;
  font-size: 3em;
}

.jumbotron span{
  font-size: 1.2em;
}

.mt-2{
  margin-top: 1.5rem;
}

.img-container img{
  border-radius: 50px;
  padding: 30px;
}

.img-container{
  margin-top: 10px;
}

/* img.plus-hov:hover{
  opacity: 0.3;
} */

#main-bot .container p{
  font-size: 1.5em;
  padding-top: 20px;
}

.download-btn{
  background: none;
  border-radius: 10px;
  border: 2px solid white;
  padding: 1%;
  margin-top: 20px;
  min-width: 100px;
}
.download-btn:hover{
  color: black;
  background-color: #ffffff;
}

.download-btn i{
  display: inline;
}

.divider{
  width: 75%;
  margin: 0 auto;
}
.divider-b{
  width: 75%;
  margin: 20px auto;
}
.divider i,.divider-b i{
  font-size: 32px;
}
.divider::before{
  content: '';
  float: left;
  display: block;
  height: 3px;
  margin-top: 26px;
  width: 40%;
  background-color: white;
}
.divider::after{
  content: '';
  float: right;
  display: block;
  height: 3px;
  margin-top: 26px;
  width: 40%;
  background-color: white;
}
.divider-b::before{
  content: '';
  float: left;
  display: block;
  height: 3px;
  margin-top: 26px;
  width: 40%;
  background-color: #2C3E50;
}
.divider-b::after{
  content: '';
  float: right;
  display: block;
  height: 3px;
  margin-top: 26px;
  width: 40%;
  background-color: #2C3E50;
}

.form-group input,
.form-group textarea{
  display: block;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid lightgrey;
  padding: 20px 0;
  color: #2C3E50;
  width: 60%;
  outline: 0;
}

.my-btn{
  margin-left: -55%;
}

.btn{
  /* margin-left: -50%; */
  background-color: #1ABC9C;
  border: none;
  /* padding: auto 20px; */
  outline: 0;
}

#pre-foot{
  background-color: #2C3E50;
}

footer{
  background-color: #1A252F;
}

#pre-foot div{
  padding: 10px 0;
}

.socials a {
  padding: 2px;
  color: white;
}
a i.fab {
  display: inline-block;
  border-radius: 60px;
  padding: 0.7em 0.9em;
  border: 1px solid white;
}
a i.fab:hover {
  background-color: white;
  color: #2C3E50;
  border: 1px solid white;
}

/*code review*/
.card{
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 2em;
}
.card img{
  width: 100%;
}
.card .layover{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(26, 188, 156, 0.9);
  display: none;
  color: #ffffff;
}
.layover i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}
.card:hover .layover{
  display: block;
}

@media all and (max-width:768px) {
  .jumbotron>h1{
    font-weight: bold;
    font-size: 2em;
  }

  .jumbotron span{
    font-size: 0.9em;
  }

  .my-btn{
    margin-left: -50%;
  }

  .img-container img{
    border-radius: 50px;
    padding: 10px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  .download-btn{
    padding: 2%;
  }


  section#main-bot .container p{
    font-size: 1.2em;
  }
}

@media all and (min-width:1200px) {
  .jumbotron>h1{
    font-size: 4em;
  }

  .divider{
    width: 35%;
    margin: 0 auto;
  }
  .divider-b{
    width: 35%;
  }
}
